.portofolio_container {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    justify-content: center;

}

.portofolio_card {
    background-color: var(--container-color);
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 1rem;
    padding: 1rem 1rem;
    margin: 1rem 1rem;
}

.portofolio_img {
    border-radius: 1rem;
}


.portofolio_name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    padding-right: 1rem;
}


.button-scondary {
    margin-left: 1rem;
    padding: 0.55rem 1rem;
    color: var(--title-color);
    background-color: white;
    border: 2px solid var(--title-color);
}

.button-scondary:hover {
    color: white;
}

/* ===breakpoints=== */
/* for large devices */
@media screen and (max-width: 992px) {}

/* for medium devices */
@media screen and (max-width: 768px) {
    .portofolio_container {
        display: grid;
        grid-template-columns: repeat(1, auto);
        justify-content: center;

    }
}

@media screen and (max-width: 576px) {}

/* for small devices */
@media screen and (max-width: 350px) {}