.testimonial_container {
    width: 750px;
}

.testimonial_card {
    background-color: var(--container-color);
    border: 1px solid rgb(0, 0, 0, 0.1);
    padding: 1.5rem 2rem;
    border-radius: 1.5rem;
    margin-bottom: var(--mb-3);
}

.testimonial_img {
    width: 60px;
    border-radius: 3rem;
    margin-bottom: var(--mb-1);
}

.testimonial_name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-25);
}

.testimonial_description {
    font-size: var(--small-font-size);
}

/* swiper Class */
.swiper-pagination-bullet {
    background-color: var(--text-color) !important;
}

.swiper-pagination-bullet-active {
    background-color: var(--title-color) !important;
}

/* ===breakpoints=== */
/* for large devices */
@media screen and (max-width: 768px) {
    .testimonial_container {
        width: initial;
    }

    .testimonial_card {
        padding: 1.25rem 1.5rem;
    }
}